{% for message in app.flashes('professional') %}
    <div class="alert bg-white alert-success-form alert-dismissible fade show h-auto" role="alert">
        <h4>
            {{ message }}
        </h4>
        <p>
            Souhaitez-vous que l'on étudie les aides auxquelles vous avez droit pour cette formation ?
        <div class="text-center">
            <a class="btn btn-success"
               href="https://docs.google.com/forms/d/e/1FAIpQLSf5tLSEunkSD4zM7YQqvlRcGDoTGCrS1tzJ5P8ScOd0ujcexg/viewform?usp=sf_link">
                Remplir le formulaire
            </a>
        </div>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% for message in app.flashes('individual') %}
    <div class="alert bg-white alert-success-form alert-dismissible fade show h-auto" role="alert">
        <h4>
            {{ message }}
        </h4>
        <p>
            Souhaitez-vous que l'on étudie les aides auxquelles vous avez droit pour cette formation ?
        <div class="text-center">
            <a class="btn btn-success"
               href="https://docs.google.com/forms/d/e/1FAIpQLSffEMS2_oTKVxhUCVjOg1z7-So3G7GH8DyA58za_dvECZPrgA/viewform?usp=sf_link">
                <i class="fas fa-chevron-right"></i>
                &nbsp;Remplir le formulaire
            </a>
        </div>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}