/*For formation asks */
#formation_asks_stagiaires {
  > div {
    padding: 1.5rem;
    background-color: #e0e0e0;
    border-radius: 4em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem !important;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }
}

/*For form with steps*/
// RESET
ol.craue_formflow_steplist {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

// TIMELINE ORDERED LIST
ol.craue_formflow_steplist {
  $bullet-line-width: 3px;
  $bullet-color: #adadad;
  $bullet-border-width: $bullet-line-width;
  $bullet-background-color: #212529;
  $bullet-size: 30px;
  counter-reset: numbered-list;
  border-left: 1px solid $bullet-color;
  margin-left: 10px;
  position: relative;

  li {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-left: 30px;

    &:last-child {
      border-left: 4px solid $bullet-background-color;
      margin-left: -$bullet-line-width;
    }

    &:before {
      $half-of-font-size: -0.5em;
      $bullet-size: 13px;
      background-color: $bullet-color;
      border-radius: 50%;
      color: rgba(0,0,0,0);
      content: '';
      counter-increment: numbered-list;
      display: block;
      font-weight: bold;
      width: $bullet-size;
      height: $bullet-size;
      margin-top: $half-of-font-size;
      line-height: $bullet-size;
      position: absolute;
      left: - (calc($bullet-size / 2) + calc($bullet-line-width / 2) - 1);
      text-align: center;
    }
  }

  li.craue_formflow_done_step {
    &:last-child {
      border-top: $bullet-line-width solid #e2e2e2;
    }
  }

  li.craue_formflow_current_step {
    &:before {
      $bullet-size: 30px;
      $bullet-border-width: 5px;
      background-color: #212529;
      color: #212529;
      border: $bullet-border-width solid #FFF;
      width: $bullet-size;
      height: $bullet-size;
      left: - (calc($bullet-size / 2) + calc($bullet-border-width / 2) - 2);
      margin-top: -16.5px;
    }
  }

  li.craue_formflow_skipped_step {
    display: none;

    &:before {
      content: '';
    }
  }
}

.remove-students-button {
  position: relative;
  top: -30px;
  right: -30px;
}