.img-presentation {
  object-fit: cover;
  width: 100%;
}

.h-adaptative {
  height: auto;
}

/* md */
@media (min-width: 768px) {
  .img-presentation {
    object-fit: cover;
    width: 100%;
    height: inherit;
  }

  .h-adaptative {
    height: 100%;
  }
}