/* xs */
.bg-pool-home {
  background-image: url(../../../photos/piscine_rochers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right top;

  @media (min-width: 768px) {
    background-image: url(../../../photos/piscine_rochers_landscape.jpg);
    background-size: cover;
  }

  > div {
    width: 80%;
    font-size: 3em;
    line-height: 1.3em;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 70%;
    }

    @media (min-width: 1200px) {
      width: 45%;
    }

    @media (min-width: 1400px) {
      width: 45%;
    }
  }
}

.bg-build-home {
  background-image: url(../../../photos/lagoniste.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:left bottom;

  @media (min-width: 768px) {
    background-image: url(../../../photos/lagoniste_working.jpg);
    background-size: cover;
    background-position:left bottom;
  }

  > div {
    width: 80%;
    font-size: 3em;
    line-height: 1.3em;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 70%;
    }

    @media (min-width: 1200px) {
      width: 45%;
    }

    @media (min-width: 1400px) {
      width: 45%;
    }
  }
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #5EBFCE;
  color: white;
  padding: 15px 24px;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  &:hover {
    background-color:lighten(#3cb1c3, 10%);
  }
}

.border-blue {
  border: solid 7px #5EBFCE;
}

.title-responsive {
  top: -90px;
  position: relative;
  background: linear-gradient(0deg, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0) 100%);
  height: auto;
  width: 100%;
  text-align: left;
  border-radius: 0%;
  padding: 1.5rem 20px 0px;
}

.img-fond {
  margin-top: 49px;
}

.img-home-responsive {
  object-fit: cover;
  height: 70vh;
  object-position: right;
  width: 100%;
}

.text-intro
{
  padding-left: 0px;
  padding-right: 0px;
}

.left-a {
  width:100%;
  background-color:#212529;
  color:white;
  padding:5px 5px;
}

.right-a {
  width:100%;
  background-color:#5ebfce;
  color:white;
  padding:5px 5px;
}

/* sm */
@media (min-width: 768px) {
  .title-responsive {
    top: 30px;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.24939306777398462) 0%, rgb(255, 255, 255)30%);
    height: auto;
    width: 95%;
    text-align: center;
    border-radius: 50%;
    padding: 70px;
    margin: auto;
  }

  .img-fond {
    margin-top: -200px;
  }

  .img-home-responsive {
    object-fit: cover;
    height: 100%;
    object-position: right;
    width: 100%;
  }

  .left-a {
    width:80%;
    background-color:#212529;
    color:white;
    margin-left:0px;
    display:flex!important;
  }

  .right-a {
    width:80%;
    background-color:#5ebfce;
    color:white;
    margin-right:0px;
    margin-left:auto;
    display:flex!important;
  }
}

/* md */
@media (min-width: 992px) {
  .title-responsive {
    top: 40px;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2493930678) 0%, rgb(255, 255, 255) 54%);
    height: auto;
    width: 85%;
    text-align: center;
    border-radius: 50%;
    padding: 70px;
    margin: auto;
  }

  .img-fond {
    margin-top: -180px;
  }

  .left-a {
    width:80%;
    background-color:#212529;
    color:white;
    margin-left:0px;
    display:flex!important;
  }

  .right-a {
    width:80%;
    background-color:#5ebfce;
    color:white;
    margin-right:0px;
    margin-left:auto;
    display:flex!important;
  }
}

/* lg */
@media (min-width: 1200px) {
  .title-responsive {
    top: 40px;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2493930678) 0%, rgb(255, 255, 255) 54%);
    height: auto;
    width: 70%;
    text-align: center;
    border-radius: 50%;
    padding: 70px;
    margin: auto;
  }

  .left-a {
    width:70%;
    background-color:#212529;
    color:white;
    margin-left:0px;
    display:flex!important;
  }

  .right-a {
    width:70%;
    background-color:#5ebfce;
    color:white;
    margin-right:0px;
    margin-left:auto;
    display:flex!important;
  }
}

/* xl */
@media (min-width: 1400px) {
  .title-responsive {
    top: 40px;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2493930678) 0%, rgb(255, 255, 255) 54%);
    height: auto;
    width: 70%;
    text-align: center;
    border-radius: 50%;
    padding: 70px;
    margin: auto;
  }

  .img-fond {
    margin-top: -300px;
  }

  .left-a {
    width:70%;
    background-color:#212529;
    color:white;
    margin-left:0px;
    display:flex!important;
  }

  .right-a {
    width:70%;
    background-color:#5ebfce;
    color:white;
    margin-right:0px;
    margin-left:auto;
    display:flex!important;
  }
}