.bg-pool-home {
  background-image: url(../../../photos/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right top;

  @media (min-width: 768px) {
    background-image: url(../../../photos/3.jpg);
    background-size: cover;
  }

  > div {
    width: 80%;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 70%;
    }
  }
}

.titre
{
  background-image: url(../../../photos/photo-projet-petit.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:center top;
  color:rgba(255,255,255,0);
}

/* sm */
@media (min-width: 768px) {
  .titre
  {
    background-image: url(../../../photos/photo-projet.jpg);
    background-repeat: no-repeat;
    background-size: 280px 172px;
    background-position:right center;
  }
}

/* md */
@media (min-width: 992px) {
  .titre
  {
    background-image: url(../../../photos/photo-projet.jpg);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position:right center;
  }
}

/* lg */
@media (min-width: 1200px) {
  .titre
  {
    background-image: url(../../../photos/photo-projet.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position:right center;
  }
}

/* xl */
@media (min-width: 1400px) {
  .titre
  {
    background-image: url(../../../photos/photo-projet.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position:right center;
  }
}