<form method="post" action="{{ path('app_dashboard_delete', {'id': formation_session.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn button-red">
        <i class="fa fa-trash"></i>
        Supprimer
    </button>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation_session.id) }}">
</form>
