{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center my-2">
        <button class="btn btn-lg btn-blue">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
