{% extends 'base.html.twig' %}

{% block title %}New FormationSessions{% endblock %}

{% block body %}
<div class="container-fluid">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="section pt-2 pb-0">
            <a class="btn btn-dark" href="{{ path('app_dashboard_index') }}">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="row section">
            <h1 class="text-roboto-bold">Créer une nouvelle session</h1>
        </div>

        <div class="row section">
            {{ include('dashboard/_form.html.twig') }}
        </div>
    {% else %}
        <p>Vous n'avez pas accès à cette page.</p>
        <div class="text-center">
            <a class="btn btn-blue" href="{{ path('app_home') }}">
                Retour à la page d'accueil
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
