<div class="pt-5 pb-2">
    <h1 class="baskerville size-2">
        Pré-inscription en ligne
        <div class="ibm-plex-light fs-5 text-blue">
            DEMANDE D'INFORMATION ET DEVIS
        </div>
    </h1>
</div>

<div class="row py-3 align-items-center">
    <div class="col-12 col-md-5">
        <div class="w-75 m-auto">
            <img
                    src="{{ asset('build/images/auffray.jpg') }}"
                    alt="Homme apprenant à appliquer de la résine sur une maquette de bassin LAGOON"
                    class="w-100 rounded-corners"
            >
        </div>
    </div>
    <div class="col-12 col-md-7 fs-5">
        <p>
            Augmentez vos compétences !
        </p>
        <p>
            Vous apprendrez à maîtriser des techniques et matériaux d'éco-construction pour installer des piscines
            naturelles LAGON respectueuses de l'environnement.
        </p>

        <div class="w-adaptative mx-auto bg-dark d-flex justify-content-around">
            <img src="{{ asset('build/images/datadock.png') }}"
                 alt="Logo de datadock"
                 class="img-size">
            <div class="d-flex align-items-center">
                <img src="{{ asset('build/images/qualiopi.png') }}"
                     alt="Certification Qualiopi de notre formation"
                     class="img-size">
                <a href="https://certificats-attestations.afnor.org/certification=128289183752"
                   target="_blank">
                    <img src="{{ asset('build/images/qr-certif-dark.png') }}"
                         alt="QR code prouvant la validité de notre certification Qualiopi"
                         class="img-size">
                </a>
            </div>
        </div>

        <div class="my-3">
            <button type="button" class="btn btn-lg btn-yellow rounded-corners" id="start-form">
                Commencer la demande
            </button>
        </div>
    </div>
</div>