<div class="pb-2">
    <h1 class="inter-black fs-1">
        Pré-inscription en ligne
    </h1>
</div>

<div class="row py-3">
    <div class="col-12">
        <div class="w-75">
            <img
                    src="{{ asset('build/images/auffray.jpg') }}"
                    alt="Homme apprenant à appliquer de la résine sur une maquette de bassin LAGOON"
                    class="w-100 rounded-corners"
            >
        </div>
    </div>
    <div class="col-12 pt-4">
        <div class="bg-dark d-flex flex-row flex-md-column flex-lg-row justify-content-start align-items-start">
            <img src="{{ asset('build/images/datadock.png') }}"
                 alt="Logo de datadock"
                 class="img-size p-0 pb-md-2 pb-lg-0" style="object-fit: scale-down;">
            <div class="d-flex align-items-center">
                <img src="{{ asset('build/images/qualiopi.png') }}"
                     alt="Certification Qualiopi de notre formation"
                     class="img-size">
                <a href="https://certificats-attestations.afnor.org/certification=128289183752"
                   target="_blank">
                    <img src="{{ asset('build/images/qr-certif.png') }}"
                         alt="QR code prouvant la validité de notre certification Qualiopi"
                         class="img-size">
                </a>
            </div>
        </div>
    </div>
</div>