@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./xs.scss";
@import "./sm.scss";
@import "./md.scss";
@import "./lg.scss";
@import "./xl.scss";

/*Fonts : */

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Light';
  src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Regular';
  src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Bold';
  src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter Black';
  src: url('../fonts/Inter-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter Semi Bold';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/*Colors*/
$brand-color: #5ebfce;
$secondary-color: #FFE019;

/*Boxes with paddings and margins : */
.no-padding {
  padding-left:0px;
  padding-right:0px;
}

.f-start {
  float: start;
}

.f-end {
  float: end;
}

/*Sizes :*/
.size-4 {
  font-size:1.1em;
}

.size-little {
  font-size: 0.9em;
}


/*Colors : */
.text-blue {
  color:$brand-color;
}

.text-darkblue {
  color:#546e72;
}

.text-yellow {
  color:$secondary-color;
}

.text-red {
  color: red;
}



/*Fonts : */
.baskerville
{
  font-family: 'Baskerville', serif !important;
}

.ibm-plex-regular
{
  font-family: 'IBM Plex Sans Regular', sans-serif !important;
}

.ibm-plex-bold
{
  font-family: 'IBM Plex Sans Bold', sans-serif !important;
}

.ibm-plex-light
{
  font-family: 'IBM Plex Sans Light', sans-serif !important;
}

.inter-black {
  font-family: 'Inter Black', sans-serif !important;
}

.inter-semi-bold {
  font-family: 'Inter Semi Bold', sans-serif !important;
}

/*Buttons : */
*:focus {
  border-color: #212529 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(94, 191, 206, 0.6) !important;
}

.btn {
  font-family: 'Inter Black', sans-serif;
}

.btn-blue
{
  background-color:#3cb1c3;
  color:white
}

.btn-grey
{
  background-color:#e2e2e2;
  color: #212529;
}

.btn-yellow {
  background-color:$secondary-color;
  border-color: #ffc300;
}

.btn-yellow:hover {
  background-color:lighten($secondary-color, 10%);
  border-color:#ffc300;
}

.btn-zoom {
  border-radius: 50%;
  background-color: #feeaae;
  padding: 1px 6px;
  border: 1px solid #212529;
  color: #212529;

  &:hover {
    background-color: darken(#feeaae, 20%);
  }
}



/*Backgrounds : */
.bg-inherit {
  background-color: inherit;
  border-color: transparent;
}

.bg-grey
{
  background-color: #e0e0e0;
}

.bg-clear {
  background-color: rgba(255,255,255,0.784939306777398462);
}

.bg-dark-clear {
  background-color: rgba(0,0,0,0.684939306777398462);
}

.bg-yellow {
  background-color:$secondary-color;
}

.bg-yellow-clear {
  background-color:lighten($secondary-color, 38%);
}

.bg-blue {
  background-color:$brand-color;
}

.bg-form-blue {
  background-color:rgba(140, 208, 218, 0.65);
}

.bg-blue-clear {
  background-color:#e3f5f7;
}

/*Underlines : */
.underline-blue {
  border-bottom: 4px solid $brand-color;
}

.underlined {
  display: inline;
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.4849393068) 50%, rgba(0, 0, 0, 0.4849393068) 100%, transparent 5%, transparent 90%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
  font-size: 3rem;
  line-height: 1.3em;
  text-shadow: 0 0 10px #212529;

  @media (min-width: 992px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 4rem;
  }
}

@keyframes animatedBackground {
  to {
    background-size: 100% 100%;
  }
}


/*List styles : */
.decoration-none {
  list-style-type: none;
}


/*Image treatment : */
img {
  aspect-ratio: attr(width) / attr(height);
}

.img-gallery {
  width: 100%;
  object-fit: cover;
}

.rounded-corners {
  border-radius: 4em;
}

.rounded-corners-start {
  border-radius: 4em 0 0 4em;
}

.h-60p {
  height: 60px;
}

.w-60p {
  width: 60px;
}

.h-180p {
  height: 180px;
}

.h-650p {
  height: 650px;
}



/*Links for the website: */
a {
  color: $brand-color;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.blank-link
{
  color: white;
  text-decoration: none;
}

.blank-link:hover
{
  color: $brand-color;
}

.dark-link
{
  color: #212529;
}

.dark-link:hover
{
  color: $brand-color;
}



/*Adding yellow spokes to a block: */
.spoke:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  background-image: url("../../photos/rayons.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -50px;
  margin-left: 10px;
}



/*For forms: */
.form-icon {
  font-size: 4.5em;
}

.form-error {
  color: red;
  font-size: 0.8em;

  ul {
    list-style-type: none;
    padding-left: 0px;

    li::before {
      content: 'ERREUR';
      color: white;
      background-color: red;
      border-radius: 10px;
      font-size: 0.8em;
      padding: 3px;
    }
  }
}

label.form-label {
  margin-bottom: 0px !important;
}

input.form-control, input.form-check-input, select.form-select, textarea.form-control {
  border: 1px solid black !important;
  border-radius: .6em !important;

  &:checked {
    background-color: $brand-color;
  }
}

.mt-none {
  margin-top: 0px!important;
}

.buttons-group {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: bold;

  input[type="radio"]{
    display: none;
  }

  .form-check {
    margin: 3px;
    padding-left: 0px;
  }

  .form-check-label {
    height: 100%;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    padding: 0px 8px;
    border: 1px solid black;
    transition: all 0.3s ease;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  input[type="radio"][disabled]+label {
    opacity: 1;
    color: grey;
    background-color: rgba(1,1,1,0.15);
    border-color: gray;

    &:hover {
      background-color: rgba(1,1,1,0.15);
      color: grey;
      cursor: default;
    }

    &::after {
      content: "REMPLIE";
      position: absolute;
      color: red;
      font-weight: bold;
      font-size: 2em;
    }
  }

  input[type="radio"]:checked:checked+label {
    background-color: black;
    color: white;
  }
}

.alert-success-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  margin-left: -150px;
  margin-top: -50px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 100px 400px;
  z-index: 10;
}

/*Navbar : */
.navbar-nav > .nav-item > .nav-link {
  color: white !important;
}


/*Timeline : */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}


ul.timeline:before {
  content: ' ';
  background: #ffffff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 0.8rem;
}

li.timeline-item {
  margin: 20px 0;
}


li.timeline-item::before {
  content: ' ';
  background: #ffffff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ffffff;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 400;
}



/*Timeline : */
ul.timeline-dark {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}


ul.timeline-dark:before {
  content: ' ';
  background: #000000;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 0.8rem;
}

li.timeline-item-dark {
  margin: 20px 0;
}


li.timeline-item-dark::before {
  content: ' ';
  background: #000000;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #000000;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/*Tooltip*/
/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}


/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3E474F transparent transparent transparent;
  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
  transform:  scale(.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
}


/*== speech bubble ==*/
.tool::after {
  background: #3E474F;
  border-radius: .25em;
  bottom: 180%;
  color: #EDEFF0;
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
  transform:  scale(.6) translateY(50%);
  width: 17.5em;
}

.tool:hover::after,
.tool:focus::after  {
  transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
}

@media (max-width: 760px) {
  .tool::after {
    font-size: .75em;
    margin-left: -5em;
    width: 10em;
  }
}


/* Accordion */
.accordion-button {
  font-weight: bold;
  font-size: 0.65em;
}

.accordion-button:not(.collapsed) {
  color: $brand-color;
  background-color: rgba(254, 219, 0, 0.1);
}

.accordion-button:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(94,191,206, 0.6) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}


#myCarousel .list-inline {
  white-space:nowrap;
  overflow-x:auto;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}

