
/* lg */
@media (min-width: 1200px) {
  /*Sizes :*/
  .size-big {
    font-size:10em;
  }

  .size-1
  {
    font-size:4em;
  }

  .size-2
  {
    font-size:2.8em;
  }

  .size-3
  {
    font-size:1.7em;
  }

  .img-gallery {
    height: 400px;
  }

  .section {
    padding-top:40px;
    padding-bottom:30px;
    padding-right: 120px;
    padding-left:120px;
  }

  .big-spacing {
    padding-top:70px;
    padding-bottom:60px;
    padding-right:120px;
    padding-left:120px;
  }

  .pad {
    padding:0px 120px;
  }

  .text-title
  {
    background:none;
    margin: 0px 0px;
    padding: 0px 0px;
    width:80%;
  }

  /*for timeline */
  .overlay-picture {
    position: relative;
    margin-left: -90px;
  }

  .overlay-picture-right {
    position: relative;
    margin-right: -90px;
  }
}