/* md */
@media (min-width: 992px) {
  /*Sizes :*/
  .size-big {
    font-size:10em;
  }

  .size-1
  {
    font-size:3.8em;
  }

  .size-2
  {
    font-size:2.8em;
  }

  .size-3
  {
    font-size:1.7em;
  }

  .w-adaptative {
    width:50%;
  }

  .img-size {
    height:80px;
  }

  .img-gallery {
    height: 350px;
  }

  .section {
    padding-top:40px;
    padding-bottom:40px;
    padding-right: 80px;
    padding-left:80px;
  }

  .big-spacing {
    padding-top:70px;
    padding-bottom:70px;
    padding-right: 80px;
    padding-left:80px;
  }

  .pad {
    padding:0px 80px;
  }

  .text-title
  {
    background:none;
    margin: 0px 0px;
    padding: 0px 0px;
    width:70%;
  }

  /*for timeline */
  .overlay-picture {
    position: relative;
    margin-left: -90px;
  }

  .overlay-picture-right {
    position: relative;
    margin-right: -90px;
  }
}