/* sm */
@media (min-width: 768px) {
  /*Sizes :*/
  .size-big {
    font-size:6.5em;
  }

  .size-1
  {
    font-size:2.2em;
  }

  .size-2
  {
    font-size:2.7em;
  }

  .size-3
  {
    font-size:1.7em;
  }

  .w-adaptative {
    width:70%;
  }

  .img-size {
    height:70px;
  }

  .img-gallery {
    height: 300px;
  }

  .titre-intro
  {
    padding:0px;
  }

  .text-intro
  {
    padding:0px;
  }

  .section {
    padding-top:40px;
    padding-bottom:40px;
    padding-right: 50px;
    padding-left:50px;
  }

  .big-spacing {
    padding-top:70px;
    padding-bottom:70px;
    padding-right: 50px;
    padding-left:50px;
  }

  .pad {
    padding:0px 50px;
  }

  .text-title
  {
    background:none;
    margin: 0px 0px;
    padding: 0px 0px;
    width:68%;
  }

  /*for timeline */
  .overlay-picture {
    position: relative;
    margin-left: -90px;
  }

  .overlay-picture-right {
    position: relative;
    margin-right: -90px;
  }
}