
/* xl */
@media (min-width: 1400px) {
  /*Sizes :*/
  .size-big {
    font-size:10em;
  }

  .size-1
  {
    font-size:5em;
  }

  .size-2
  {
    font-size:3em;
  }

  .size-3
  {
    font-size:1.7em;
  }

  .img-gallery {
    height: 450px;
  }

  .section {
    padding-top:50px;
    padding-bottom:50px;
    padding-right: 200px;
    padding-left:200px;
  }

  .big-spacing {
    padding-top:80px;
    padding-bottom:80px;
    padding-right: 200px;
    padding-left:200px;
  }

  .pad {
    padding:0px 200px;
  }

  .text-title
  {
    background:none;
    margin: 0px 0px;
    padding: 0px 0px;
    width:80%;
  }

  /*for timeline */
  .overlay-picture {
    position: relative;
    margin-left: -90px;
  }

  .overlay-picture-right {
    position: relative;
    margin-right: -90px;
  }
}