/* xs */

/* Sizes */
.size-big {
  font-size:6em;
}

.size-1
{
  font-size:1.7em;
}

.size-2
{
  font-size:1.8em;
}

.size-3
{
  font-size:1.5em;
}

@media (min-width: 510px) {
  .size-big {
    font-size:7em;
  }
}


/* Responsive classes */
.w-adaptative {
  width:100%;
}

.img-size {
  height:60px;
}

.img-gallery {
  height: 250px;
}

/* Titles */
.text-title
{
  background: linear-gradient(90deg, rgba(255,255,255,0.9220063025210083) 6%, rgba(255,255,255,0.3897934173669467) 70%);
  margin-top: 230px;
  margin-right: auto;
  margin-left: auto;
  color: #212529;
  padding: 5px 15px 15px 15px;
  width: 98%;
}

/* Usual classes */
.section {
  padding-top:50px;
  padding-bottom:50px;
  padding-right: 10px;
  padding-left:10px;
}

.big-spacing {
  padding-top:70px;
  padding-bottom:70px;
  padding-right: 20px;
  padding-left:20px;
}

.pad {
  padding:0px 20px;
}

/* Timeline */
.overlay-picture {
  position: relative;
  margin-left: 0px;
  margin-top:-60px;
}

.overlay-picture-right {
  position: relative;
  margin-right: 0px;
  margin-top:-60px;
}


